:root {

    /*
    --------------------------------
     Theme colors
    --------------------------------
    */

    --nord0: rgb(46, 52, 64);
    --nord1: rgb(59, 66, 82);
    --nord2: rgb(67, 76, 94);
    --nord3: rgb(76, 86, 106);
    --nord4: rgb(216, 222, 233);
    --nord5: rgb(229, 233, 240);
    --nord6: rgb(236, 239, 244);
    --nord7: rgb(143, 188, 187);
    --nord8: rgb(136, 192, 208);
    --nord9: rgb(129, 161, 193);
    --nord10: rgb(94, 129, 172);
    --nord11: rgb(191, 97, 106);
    --nord12: rgb(208, 135, 112);
    --nord13: rgb(235, 203, 139);
    --nord14: rgb(163, 190, 140);
    --nord15: rgb(180, 142, 173);

    /*
    --------------------------------
     System Colors
    --------------------------------
    */

    --nord0-rgb: 46,52,64;
    --nord1-rgb: 59,66,82;
    --nord2-rgb: 67,76,94;
    --nord3-rgb: 76,86,106;
    --nord4-rgb: 216,222,233;
    --nord5-rgb: 229,233,240;
    --nord6-rgb: 236, 239, 244;
    --nord7-rgb: 143, 188, 187;
    --nord8-rgb: 136, 192, 208;
    --nord9-rgb: 129, 161, 193;
    --nord10-rgb: 94, 129, 172;
    --nord11-rgb: 191, 97, 106;
    --nord12-rgb: 208, 135, 112;
    --nord13-rgb: 235, 203, 139;
    --nord14-rgb: 163, 190, 140;
    --nord15-rgb: 180, 142, 173;

    /*
    --------------------------------
     Context Colors
    --------------------------------
    */

    --default-color: var(--nord3);
    --primary-color: var(--nord10);
    --secondary-color: var(--nord7);
    --success-color: var(--nord14);
    --warning-color: var(--nord13);
    --error-color: var(--nord11);

    --hover-brightness: brightness(1.2);
    --active-brightness: brightness(0.8);

    /*
    --------------------------------
     Backgrounds
    --------------------------------
    */

    --bg-dark: var(--nord0);
    --bg-light : var(--nord6);

    /*
    --------------------------------
     Typography
    --------------------------------
    */

    --dark-font-color: var(--nord0);
    --light-font-color: var(--nord6);

    --focus-outline: var(--nord8-rgb);
    --letter-spacing: 0.05rem;

    /*
    --------------------------------
    Borders
    --------------------------------
    */

    --border-radius: 0.5rem;

    /*
    --------------------------------
    Spacing
    --------------------------------
    */

    --spacing-none: 0;
    --spacing-x-small: 0.5rem;
    --spacing-small: 0.75rem;
    --spacing-medium: 1rem;
    --spacing-large: 1.5rem;
    --spacing-x-large: 2rem;
}
