/*
--------------------------------
Default
--------------------------------
*/

.btn {
    display: inline-block;
    height: 3.2rem;
    line-height: 3.2rem;
    padding: 0 1.5rem;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    color: var(--light-font-color);
    background-color: var(--nord3);
    background-image: none;
    border: 1px solid var(--nord3);
    border-radius: 0.4rem;
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
}
.btn:hover {
    text-decoration: none;
    color: var(--light-font-color);
    background-color: var(--nord3);
    filter: var(--hover-brightness);
}
.btn:focus {
    color: var(--light-font-color);
    background-color: var(--nord3);
    border-color: var(--nord3);
    box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -moz-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    outline: 1px dotted transparent;
    outline-offset: 0.2rem;
}
.btn:active {
    text-decoration: none;
    color: var(--light-font-color);
    background-color: var(--nord3);
    filter: var(--active-brightness);;   
}
.btn.active {
    color: var(--light-font-color);
    background-color: var(--nord3);
    border-color: var(--nord3);
    box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -moz-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    outline: 1px dotted transparent;
    outline-offset: 0.2rem;
}
.btn:focus:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--light-font-color);
    background-color: var(--nord3);
}
.btn.active:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--light-font-color);
    background-color: var(--nord3);
}

/*
--------------------------------
Disabled
--------------------------------
*/

.btn.disabled,
.btn:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}
.btn.disabled {
    color: var(--dark-font-color);
    background-color: var(--nord6);
    border-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
.btn:disabled {
    color: var(--dark-font-color);
    background-color: var(--nord6);
    border-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
.btn.disabled:hover {
    color: var(--dark-font-color);
    background-color: var(--nord6);
    border-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
.btn.disabled:focus {
    color: var(--dark-font-color);
    background-color: var(--nord6);
    border-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

/*
--------------------------------
Block button
--------------------------------
*/

.btn-block {
    display: block;
    width: 100%;
}

/*
--------------------------------
Small button
--------------------------------
*/

.btn-small {
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1rem;
    font-size: 1.2rem;
}

/*
--------------------------------
Large button
--------------------------------
*/

.btn-large {
    height: 4rem;
    line-height: 4rem;
    padding: 0 2rem;
    font-size: 1.8rem;
}

/*
--------------------------------
Primary
--------------------------------
*/

.btn.btn-primary {
    color: var(--light-font-color);;
    background-color: var(--primary-color);;
    border-color: var(--primary-color);;
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
}
.btn.btn-primary:hover {
    color: var(--light-font-color);;
    background-color: var(--primary-color);;
    border-color: var(--primary-color);;
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    filter: var(--hover-brightness);
}
.btn.btn-primary:active {
    filter: var(--active-brightness);
}
.btn.btn-primary:focus {
    color: var(--light-font-color);;
    background-color: var(--primary-color);;
    border-color: var(--primary-color);;
    box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -moz-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    outline-color: transparent;
}
.btn.btn-primary.active {
    color: var(--light-font-color);;
    background-color: var(--primary-color);;
    border-color: var(--primary-color);;
    box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -moz-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    outline-color: transparent;
}
.btn.btn-primary:focus:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--light-font-color);;
    background-color: var(--primary-color);;
}
.btn.btn-primary.active:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--light-font-color);;
    background-color: var(--primary-color);;
}

/*
--------------------------------
Secondary
--------------------------------
*/

.btn.btn-secondary {
    color: var(--light-font-color);;
    background-color: var(--secondary-color);;
    border-color: var(--secondary-color);;
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
}
.btn.btn-secondary:hover {
    color: var(--light-font-color);;
    background-color: var(--secondary-color);;
    border-color: var(--secondary-color);;
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    filter: var(--hover-brightness);
}
.btn.btn-secondary:active {
    filter: var(--active-brightness);
}
.btn.btn-secondary:focus {
    color: var(--light-font-color);;
    background-color: var(--secondary-color);;
    border-color: var(--secondary-color);;
    box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -moz-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    outline-color: transparent;
}
.btn.btn-secondary.active {
    color: var(--light-font-color);;
    background-color: var(--secondary-color);;
    border-color: var(--secondary-color);;
    box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -moz-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    outline-color: transparent;
}
.btn.btn-secondary:focus:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--light-font-color);;
    background-color: var(--secondary-color);;
}
.btn.btn-secondary.active:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--light-font-color);;
    background-color: var(--secondary-color);;
}

/*
--------------------------------
Success
--------------------------------
*/

.btn.btn-success {
    color: var(--dark-font-color);;
    background-color: var(--success-color);;
    border-color: var(--success-color);;
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
}
.btn.btn-success:hover {
    color: var(--dark-font-color);;
    background-color: var(--success-color);;
    border-color: var(--success-color);;
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    filter: var(--hover-brightness);
}
.btn.btn-success:active {
    filter: var(--active-brightness);
}
.btn.btn-success:focus {
    color: var(--dark-font-color);;
    background-color: var(--success-color);;
    border-color: var(--success-color);;
    box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -moz-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    outline-color: transparent;
}
.btn.btn-success.active {
    color: var(--dark-font-color);;
    background-color: var(--success-color);;
    border-color: var(--success-color);;
    box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -moz-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    outline-color: transparent;
}
.btn.btn-success:focus:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--dark-font-color);;
    background-color: var(--success-color);;
}
.btn.btn-success.active:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--dark-font-color);;
    background-color: var(--success-color);;
}

/*
--------------------------------
Warning
--------------------------------
*/

.btn.btn-warning {
    color: var(--dark-font-color);;
    background-color: var(--warning-color);;
    border-color: var(--warning-color);;
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
}
.btn.btn-warning:hover {
    color: var(--dark-font-color);;
    background-color: var(--warning-color);;
    border-color: var(--warning-color);;
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    filter: var(--hover-brightness);
}
.btn.btn-warning:active {
    filter: var(--active-brightness);
}
.btn.btn-warning:focus {
    color: var(--dark-font-color);;
    background-color: var(--warning-color);;
    border-color: var(--warning-color);;
    box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -moz-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    outline-color: transparent;
}
.btn.btn-warning.active {
    color: var(--dark-font-color);;
    background-color: var(--warning-color);;
    border-color: var(--warning-color);;
    box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -moz-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    outline-color: transparent;
}
.btn.btn-warning:focus:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--dark-font-color);;
    background-color: var(--warning-color);;
}
.btn.btn-warning.active:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--dark-font-color);;
    background-color: var(--warning-color);;
}

/*
--------------------------------
Error
--------------------------------
*/

.btn.btn-error {
    color: var(--light-font-color);;
    background-color: var(--error-color);;
    border-color: var(--error-color);;
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
}
.btn.btn-error:hover {
    color: var(--light-font-color);;
    background-color: var(--error-color);;
    border-color: var(--error-color);;
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    filter: var(--hover-brightness);
}
.btn.btn-error:active {
    filter: var(--active-brightness);
}
.btn.btn-error:focus {
    color: var(--light-font-color);;
    background-color: var(--error-color);;
    border-color: var(--error-color);;
    box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -moz-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    outline-color: transparent;
}
.btn.btn-error.active {
    color: var(--light-font-color);;
    background-color: var(--error-color);;
    border-color: var(--error-color);;
    box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -moz-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    outline-color: transparent;
}
.btn.btn-error:focus:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--light-font-color);;
    background-color: var(--error-color);;
}
.btn.btn-error.active:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--light-font-color);;
    background-color: var(--error-color);;
}