/*
--------------------------------
Text colors
--------------------------------
*/
.nord-text--white {
    color: #ffffff;
}
.nord-text--primary {
    color: var(--primary-color);
}
.nord-text--secondary {
    color: var(--secondary-color);
}
.nord-text--success {
    color: var(--success-color);
}
.nord-text--warning {
    color: var(--warning-color);
}
.nord-text--error {
    color: var(--error-color);
}
.nord-text--light {
    color: var(--light-font-color);
}
.nord-text--dark {
    color: var(--dark-font-color);
}

/*
--------------------------------
Background colors
--------------------------------
*/

.nord-bg--light {
    background-color: var(--nord-bg--light);
}
.nord-bg--dark {
    background-color: var(--nord-bg--dark);
}
.nord-bg--primary {
    background-color: var(--primary-color);
}
.nord-bg--secondary {
    background-color: var(--secondary-color);
}
.nord-bg--success {
    background-color: var(--success-color);
}
.nord-bg--warning {
    background-color: var(--warning-color);
}
.nord-bg--error {
    background-color: var(--error-color);
}