/*
--------------------------------
Margin
--------------------------------
*/

.nord-m-around--none {
    margin: 0;
}
.nord-m-top--none {
    margin-top: 0;
}
.nord-m-top--x-small {
    margin-top: 0.25rem;
}
.nord-m-top--small {
    margin-top: 0.5rem;
}
.nord-m-top--medium {
    margin-top: 1rem;
}
.nord-m-top--large {
    margin-top: 1.25rem;
}
.nord-m-top--x-large {
    margin-top: 1.5rem;
}