/*
--------------------------------
Default
--------------------------------
*/

.nord-btn {
    display: inline-block;
    height: 3.2rem;
    line-height: 3.2rem;
    padding: 0 1.5rem;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    color: var(--light-font-color);
    background-color: var(--default-color);
    background-image: none;
    border: 1px solid var(--default-color);
    border-radius: var(--border-radius);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
}
.nord-btn:hover {
    text-decoration: none;
    color: var(--light-font-color);
    background-color: var(--default-color);
    filter: var(--hover-brightness);
}
.nord-btn:focus {
    color: var(--light-font-color);
    background-color: var(--default-color);
    border-color: var(--default-color);
    box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -moz-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    outline: 1px dotted transparent;
    outline-offset: 0.2rem;
}
.nord-btn:active {
    text-decoration: none;
    color: var(--light-font-color);
    background-color: var(--default-color);
    filter: var(--active-brightness);;   
}
.nord-btn.active {
    color: var(--light-font-color);
    background-color: var(--default-color);
    border-color: var(--default-color);
    box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -moz-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    outline: 1px dotted transparent;
    outline-offset: 0.2rem;
}
.nord-btn:focus:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--light-font-color);
    background-color: var(--default-color);
}
.nord-btn.active:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--light-font-color);
    background-color: var(--default-color);
}

/*
--------------------------------
Disabled
--------------------------------
*/

.nord-btn.disabled,
.nord-btn:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}
.nord-btn.disabled {
    color: var(--dark-font-color);
    background-color: var(--nord6);
    border-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
.nord-btn:disabled {
    color: var(--dark-font-color);
    background-color: var(--nord6);
    border-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
.nord-btn.disabled:hover {
    color: var(--dark-font-color);
    background-color: var(--nord6);
    border-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
.nord-btn.disabled:focus {
    color: var(--dark-font-color);
    background-color: var(--nord6);
    border-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

/*
--------------------------------
Block button
--------------------------------
*/

.nord-btn--block {
    display: block;
    width: 100%;
}

/*
--------------------------------
Small button
--------------------------------
*/

.nord-btn--small {
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1rem;
    font-size: 1.2rem;
}

/*
--------------------------------
Large button
--------------------------------
*/

.nord-btn--large {
    height: 4rem;
    line-height: 4rem;
    padding: 0 2rem;
    font-size: 1.8rem;
}

/*
--------------------------------
Primary
--------------------------------
*/

.nord-btn.nord-btn--primary {
    color: var(--light-font-color);;
    background-color: var(--primary-color);;
    border-color: var(--primary-color);;
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
}
.nord-btn.nord-btn--primary:hover {
    color: var(--light-font-color);;
    background-color: var(--primary-color);;
    border-color: var(--primary-color);;
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    filter: var(--hover-brightness);
}
.nord-btn.nord-btn--primary:active {
    filter: var(--active-brightness);
}
.nord-btn.nord-btn--primary:focus {
    color: var(--light-font-color);;
    background-color: var(--primary-color);;
    border-color: var(--primary-color);;
    box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -moz-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    outline-color: transparent;
}
.nord-btn.nord-btn--primary.active {
    color: var(--light-font-color);;
    background-color: var(--primary-color);;
    border-color: var(--primary-color);;
    box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -moz-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    outline-color: transparent;
}
.nord-btn.nord-btn--primary:focus:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--light-font-color);;
    background-color: var(--primary-color);;
}
.nord-btn.nord-btn--primary.active:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--light-font-color);;
    background-color: var(--primary-color);;
}

/*
--------------------------------
Secondary
--------------------------------
*/

.nord-btn.nord-btn--secondary {
    color: var(--light-font-color);;
    background-color: var(--secondary-color);;
    border-color: var(--secondary-color);;
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
}
.nord-btn.nord-btn--secondary:hover {
    color: var(--light-font-color);;
    background-color: var(--secondary-color);;
    border-color: var(--secondary-color);;
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    filter: var(--hover-brightness);
}
.nord-btn.nord-btn--secondary:active {
    filter: var(--active-brightness);
}
.nord-btn.nord-btn--secondary:focus {
    color: var(--light-font-color);;
    background-color: var(--secondary-color);;
    border-color: var(--secondary-color);;
    box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -moz-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    outline-color: transparent;
}
.nord-btn.nord-btn--secondary.active {
    color: var(--light-font-color);;
    background-color: var(--secondary-color);;
    border-color: var(--secondary-color);;
    box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -moz-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(255,255,255,0.8);;
    outline-color: transparent;
}
.nord-btn.nord-btn--secondary:focus:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--light-font-color);;
    background-color: var(--secondary-color);;
}
.nord-btn.nord-btn--secondary.active:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--light-font-color);;
    background-color: var(--secondary-color);;
}

/*
--------------------------------
Success
--------------------------------
*/

.nord-btn.nord-btn--success {
    color: var(--dark-font-color);;
    background-color: var(--success-color);;
    border-color: var(--success-color);;
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
}
.nord-btn.nord-btn--success:hover {
    color: var(--dark-font-color);;
    background-color: var(--success-color);;
    border-color: var(--success-color);;
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    filter: var(--hover-brightness);
}
.nord-btn.nord-btn--success:active {
    filter: var(--active-brightness);
}
.nord-btn.nord-btn--success:focus {
    color: var(--dark-font-color);;
    background-color: var(--success-color);;
    border-color: var(--success-color);;
    box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -moz-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    outline-color: transparent;
}
.nord-btn.nord-btn--success.active {
    color: var(--dark-font-color);;
    background-color: var(--success-color);;
    border-color: var(--success-color);;
    box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -moz-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    outline-color: transparent;
}
.nord-btn.nord-btn--success:focus:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--dark-font-color);;
    background-color: var(--success-color);;
}
.nord-btn.nord-btn--success.active:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--dark-font-color);;
    background-color: var(--success-color);;
}

/*
--------------------------------
Warning
--------------------------------
*/

.nord-btn.nord-btn--warning {
    color: var(--dark-font-color);;
    background-color: var(--warning-color);;
    border-color: var(--warning-color);;
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
}
.nord-btn.nord-btn--warning:hover {
    color: var(--dark-font-color);;
    background-color: var(--warning-color);;
    border-color: var(--warning-color);;
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    filter: var(--hover-brightness);
}
.nord-btn.nord-btn--warning:active {
    filter: var(--active-brightness);
}
.nord-btn.nord-btn--warning:focus {
    color: var(--dark-font-color);;
    background-color: var(--warning-color);;
    border-color: var(--warning-color);;
    box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -moz-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    outline-color: transparent;
}
.nord-btn.nord-btn--warning.active {
    color: var(--dark-font-color);;
    background-color: var(--warning-color);;
    border-color: var(--warning-color);;
    box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -moz-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    outline-color: transparent;
}
.nord-btn.nord-btn--warning:focus:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--dark-font-color);;
    background-color: var(--warning-color);;
}
.nord-btn.nord-btn--warning.active:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--dark-font-color);;
    background-color: var(--warning-color);;
}

/*
--------------------------------
Error
--------------------------------
*/

.nord-btn.nord-btn--error {
    color: var(--light-font-color);;
    background-color: var(--error-color);;
    border-color: var(--error-color);;
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
}
.nord-btn.nord-btn--error:hover {
    color: var(--light-font-color);;
    background-color: var(--error-color);;
    border-color: var(--error-color);;
    -moz-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
    filter: var(--hover-brightness);
}
.nord-btn.nord-btn--error:active {
    filter: var(--active-brightness);
}
.nord-btn.nord-btn--error:focus {
    color: var(--light-font-color);;
    background-color: var(--error-color);;
    border-color: var(--error-color);;
    box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -moz-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    outline-color: transparent;
}
.nord-btn.nord-btn--error.active {
    color: var(--light-font-color);;
    background-color: var(--error-color);;
    border-color: var(--error-color);;
    box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -moz-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    -webkit-box-shadow: 0 0 3px 0.1rem rgba(var(--nord4-rgb), 0.6);
    outline-color: transparent;
}
.nord-btn.nord-btn--error:focus:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--light-font-color);;
    background-color: var(--error-color);;
}
.nord-btn.nord-btn--error.active:hover {
    /*
        Only text color and background properties are overridden, while the border 
        color, box shadow, and the outline of the focus selector is kept.
    */
    color: var(--light-font-color);;
    background-color: var(--error-color);;
}