/*
--------------------------------
Code
--------------------------------
*/

code,
.nord-code {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.nord-code {
    line-height: 1.5;
    padding: 0.15rem 0.4rem;
    margin: 0.15rem 0.15rem;
    color: var(--light-font-color);
    background-color: var(--nord3);
    border-radius: 0.2rem;
}

/*
--------------------------------
Keyboard
--------------------------------
*/

kbd {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    /* font-size: 1.2rem; */
    line-height: 1.5;
    padding: 0.15rem 0.4rem;
    margin: 0.15rem 0.15rem;
    color: var(--light-font-color);
    background-color: var(--nord1);
    border: 1px solid var(--nord5);
    border-radius: 0.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}